#grid{
    height: 100%;
    display: grid;
    grid-template-rows: 60px 25px 1fr 20px;
    grid-template-columns: 100%;
}
header{
    grid-row: 1 / 2;
}
nav{
    grid-row: 2 / 3;
}
main{
    grid-row: 3 / 4;
}
footer{
    grid-row: 4 / 5;
}
nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
}
h1{
    text-align: center;
}
.footer{
    text-align: center;
}
#scanlines{
    background-image: url("depositphotos_70011155-stock-illustration-dark-stripes-background-with-lines.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}