#grid{
    height: 100%;
    display: grid;
    grid-template-rows: 60px 25px 1fr 20px;
    grid-template-columns: 100%;

}
#container_nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}