@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    min-height: 100vh;
    margin: 0;
}
#grid{
    margin: none;
    min-height:100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    grid-row: 1 / 2;
    color: rgb(255, 0, 25);
    background-color: black;
}
#top{
    grid-row: 1/3;
    top:0;
    position: sticky;
    grid-template-columns: 100%;
    grid-template-rows:auto auto;
}
h1{
    margin: 10px;
    font-size: 50px;
}
nav{
    grid-row: 2 / 3;
    background-color: black;
    font-size: 1.3em;
}
ul{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
li:hover{
    border-color: rgb(255, 111, 0);
    color:blue;
}
li:hover a{
    color:rgb(255, 111, 0);
    animation: blink 0.8s infinite;
}

.active{
    border-color: chartreuse;
}
a{
    text-decoration: none;
    color: yellow;
    display: block;
    font-family: "Jersey 10", monospace;
    font-weight: 400;
    font-style: normal;
}
li{
    border: 5px solid;
    border-color: rgb(60, 0, 255);
    margin: 0;
    padding:5px;
    border-collapse: collapse;
}
main{
    grid-row: 3 / 4;
    background-color: rgb(0, 0, 0);
}
.button_container{
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 70% 30%;
}
button#arcade-button{
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: center;
    height: 40vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 50px;
    background-color: red;
    border-radius: 20px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#öppettider{
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    align-self: left;
    margin-left: 20vw;
    margin-right: 5vw ;
    margin-bottom:10vh;
    border: 10px solid;
    background-color: white;
}
#klassiker{
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: right;
    margin-right:20vw;
    border: 10px solid;
    background-color: white;
}
#boxes{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    align-items: center;
}
#spelarkiv{
    height: 100%;
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
}
.kontakt{
    grid-row: 2 / 3;
    grid-column: 1;
    text-align: center;
    width: 500px;
    height: 450px;
    margin: auto;
    margin-top: 80px;
}
.hitta{
    grid-row: 1/2;
    grid-column:1;
    text-align: center;
}
footer{
    grid-row: 4 / 5;
    background-color: rgb(16, 16, 16);
    color: white;
}
nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
}
h1{
    text-align: center;
}
.footer{
    text-align: center;
}
#scanlines{
    background-image: url("Bilder/depositphotos_70011155-stock-illustration-dark-stripes-background-with-lines.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    opacity: 100%;
}
#Galax_Fighter{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    background-color: rgb(58, 58, 58);
}
#Golden_Floppy{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    background-color: rgb(58, 58, 58);
}
#Taxi_Rampage{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    background-color: rgb(58, 58, 58);
}
#Dust_Bunny{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    background-color: rgb(58, 58, 58);
}
img.spel{
    width: 30vw;
}
.karta{
    grid-row: 3/4;
    grid-column: 1;
    width: 500px;
    height: auto;
    justify-self: center;
}
.highscore-sida {
    background-color: black;
    height: 1000px;
    color:rgb(0, 255, 13);
}
.highscore-sida {
  text-align: center;
  padding: 20px;
}

.highscore-sida h1 {
  color: #00ffff;
  text-shadow: 0 0 8px #00ff0d;
}

.highscore-sida table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  max-width: 900px;
  background-color: #000000;
}

.highscore-sida td {
  border: 2px solid #00ff66;
  padding: 12px;
}

.highscore-sida th {
  background-color: #003300;
}
.top {
  color: #ff0000;
  text-shadow: 
    0 0 5px #ff0000,
    0 0 15px #ff0000;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%   { opacity: 1; }
  50%  { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}